html,body{
	margin: 0px;
}

a,a:visited{
	color: inherit;
	text-decoration: none;
}

.no-margin{
	margin: 0px;
}

.air{
	font-weight: 30px;
	font-size: 3.2em;
	margin: 0px;
	position: absolute;
	top: 30px;
	left: 30px;
}

.plaza{
	top: 35px;
	left: 30px;
	font-weight: 15px;
	font-size: 2.2em;
	color:rgb(50,200,100); 
	position: relative;
	margin: 0px;
}

.var{
	font-weight: 45px;
	font-size: 1.9em;
	position: absolute;
	top: 40px;
	left: 910px;
	margin: 0px;
}

.est{
	font-weight: 45px;
	font-size: 1.9em;
    position: absolute;
    top: 40px;
	left: 1100px;
    margin: 0px;
}

.nav{
	background-color: rgb(255,255,255);
}

.large-padding{
	padding: 30px 30px;
}